
/* Hero Section */
.hero-section {
  position: relative;
  padding: 20px 32px;
  min-height: calc(100vh - 80px);
  background-image: url("./public/Hero Content.png");
  background-size: cover;
  .hero-content{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: calc((100vh - 500px) / 2);
  h1 {
    text-transform: uppercase;
    font-size: 1.5rem !important;
    font-weight: 800;
    text-align: left;
    color: white;
  }
}
}

.event-types-section{
  color: white;
  padding: 20px 32px;
  background-color: #003e7e;
  min-height: 100vh;
  h1{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .events-grid{
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .events-grid .events-card{
    min-width: 100px;
    border-radius: 6px;
    color: black;
    background-color: white;
    display: flex;
    height: 100px;
    gap: 40px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    img{
      max-height: 60px;
    }
    section{
      width: 130px;
      h3{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.875rem;
      }
      p{
        font-size: 0.425rem;
      }
    }
  }


}

.learning-paths-section{
  color: black;
  padding: 20px 32px;
  /* background-color: #003e7e; */
  min-height: 100vh;
  h1{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .events-grid{
    min-height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .events-grid .events-card{
    border: 1px solid black;
    min-width: 100px;
    border-radius: 6px;
    color: black;
    background-color: white;
    display: flex;
    height: 100px;
    gap: 40px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    img{
      max-height: 60px;
    }
    section{
      width: 130px;
      h3{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.775rem;
      }
      p{
        font-size: 0.525rem;
      }
    }
  }


}

.events{
  display: flex;
  color: white;
  flex-direction: column;
  background-color: #003e7e;
  min-height: 100vh;
  padding: 20px 32px;
  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

.upcoming-events
{
 flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
.event{
  padding-right: 30px;
  color: black;
  background-color: white;
  display: flex;
  gap: 20px;
  img{
    height: 100px;
  }
  section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  align-self: center;
  width: 200px;
  #date{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 0.625rem;
  }
  #title{
    font-weight: bold;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 0.8rem;

  }
  #type, #price{
    font-size: 0.625rem;
    grid-row-start: 3;
  }
}
}
}

Button{
  background-color: white;
  color: black;
}
}

