:root{
  font-family: 'aloevera display';
  --blue-primer: #133E87;
  --lighter-blue: #608BC1;
  --darker-blue: #050B2F;
  --more-lighter-blue: #CBDCEB;

  --left-margin: 150px;
}


html, body, #root {
  /* min-width: 100vh; */
  height: 100%;
  margin: 0px;
  padding: 0px;
}
nav{
  display: flex;
  justify-content: flex-start;
  height: 80px;
  div{
    margin-left: var(--left-margin);
    color: var(--blue-primer);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    #logo{
      height: 32px;
    }
  }
}
h1,h2, a{
  font-weight: 600;
  text-transform: uppercase;
}
#persuasive-text{
  display: block;
  font-size: 2.6rem;
  padding: 0px;
  margin-bottom: 20px;
}
#intro{
  padding: 0 3rem;
  box-sizing: border-box;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    background-color: var(--blue-primer);
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2.2px;
  }
}
#mission{
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  background-color: var(--lighter-blue);
  h1:not(section h1){
    padding: 30px 0;
    color: white;
    margin-left: var(--left-margin);
  }
  #why{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    width: 100vw;
    /* gap: 80px; */
    section{
      border-radius: 8px;
      height: 550px;
      width: 400px;
      background-color: white;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      filter: drop-shadow(rgba(19, 62, 135, 0.4) 0.9em 0.9em 8px);
      
      h1{
        text-align: center;
        max-width: 300px;
      }
      
    }
  }  
}
#activities{
 box-sizing: border-box;
  h1, h2{
    margin-left: var(--left-margin);
    color: black;
  }
  h1{
    padding: 30px 0;
  }
  h2{
    font-size: 1.2rem;
    margin-bottom: 0px;
  }
  img[alt='activity']{ 
    height: 300px;
    filter: drop-shadow(rgba(19, 62, 135, 0.4) 0.9em 0.9em 8px);
    border-radius: 8px;
  }
  .footage{
    margin-left: var(--left-margin);
    margin-right: var(--left-margin);

    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;

  }
}
footer{
display: flex;
justify-content: space-between;
padding: 0 20px;
  div{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: var(--blue-primer);
  #logo{
    height: 32px;
  }
}
#contacts{
  a{
    color: black;
  }
  a:hover{
    color: var(--blue-primer);
  }
}
}

/* Tab Screen */
@media (max-width: 1500px) {
  nav div{
    margin: 0 auto;
  }
 #intro{
  height: fit-content;
  flex-direction: column-reverse;
  padding: 2em 0;
  svg{
    height: 320px;
    width: fit-content;
  }
  section{
    display: flex;
    flex-direction: column;
   h1{
    font-size: 2em;
    text-align: end;
   }
   a{
    padding: 12px 16px;
     font-size: 1.4rem;
     align-self: flex-end;
    }
  }
 }
 #mission{
  position: static;
  background-color: var(--lighter-blue);
  height: fit-content;
  padding-bottom: 60px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  h1:not(section h1){
    margin: 0 auto;
    text-align: center;
    
    justify-self: flex-start;
  }
  #why{
    position: static;
    top: 0;
    transform: none;
    
    gap: 20px;
    
    width: 80%;
    section{
     height: 300px;
     min-width: 160px;
     padding: 20px;
     h1{
      font-size: 0.8em;
     }
     svg{
      height: 40%;
     }
    }
  }  
}

#activities{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, h2{
    margin: 0;
  }
  h2{
    margin-bottom: 20px;
  }
  .footage{
  gap: 30px;
  }
img[alt='activity']{ 
    height: 160px;
    justify-self: center;
    border-radius: 10px;
  }
}
footer{
  height: 60px;
  div{
    justify-content: space-around;
    #logo{
      height: 20px;
    }
    h1{
      font-size: 10px;
    }
  }
}
  }

  /* Phone Screen */
@media (max-width: 760px) {
#intro{
  svg{
    height: 42vw;
  }
  section{
   h1{
    font-size: 3vw;
   }
   a{
    padding: 1.6vw;
     font-size: 2vw;
     align-self: flex-end;
    }
  }

}
 #mission{
  box-sizing: border-box;
  background-color: var(--lighter-blue);
  h1:not(section h1){
    margin: 0 auto;
    text-align: center;

    justify-self: flex-start;
  }
  #why{
    position: static;
    top: 0;
    transform: none;
    flex-direction: column;
    justify-content: center;
    section{
     height: 130px;
     flex-direction: row;
     justify-content: space-between;
     padding: 20px;
     width: 78%;
     h1{
      font-size: clamp(0.8em, 3vw,1em);
      text-align: end;
     }
     svg{
      height: 90px;
     }
    }
  }  
}
#activities{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1, h2{
    margin-left: 0;
  }
  h2{
    margin-bottom: 20px;
  }
  .footage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
    /* grid-template-rows: 1fr 1fr; */
  }
img[alt='activity']{ 
    height: clamp(140px, 30vw, 200px);
    justify-self: center;
    border-radius: 10px;
  }
}

footer{
  height: 60px;
  div{
    justify-content: space-around;
    #logo{
      height: 20px;
    }
    h1{
      font-size: 10px;
    }
  }
}
  }